$kanit: 'Kanit', sans-serif;

$cardColor:  #eee;
$pokeLightBlue: #5db9ff;
$lightBlue: #79CEE0;
$darkerBlue: #4ca7b9;
$cream: #E8E5C2;
$peach: #FCC499;
$peachDark: #e9a26c;
$orange: #f16f52d2;
$pokeYellow: #FFDE00;
$pokeDYellow: #B3A125;
$pokeRed: #e99e9e;
$pokeDRed: #ff6b6b;
$pokeBlue: #3B4CCA;

$pokeGreetTop: #B1CFE1;
$pokeGreetBottom: #F9F3C5;